# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
dist

# Webpack directories
.webpack
.cache-loader

# Local
.DS_Store
src/config/local.config.json
src/test/local.config.json

# Others
yarn-error.log
.DS_Store
/cdk/*.js
/cdk/config/local.config.json
lib
cdk.out
.deploy
coverage/
test.ts